* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #2696E9;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: blue;
}

header .title {
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigator {
    position: relative;
}

header .navigator .navigator-items a {
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    margin: 0px 20px;
    color: white;
    transition: 0.3s ease;
}

header .navigator .navigator-items a:before {
    background-color: white;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: 0.3s ease;
}

header .navigator .navigator-items a:hover:before {
    width: 100%;
}

/*
    Pour la page list
*/

.content {
    margin: 100px 200px;
}

.content-item {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-item h1 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
}

.element {
    min-height: 30vh;
    width: 80vw;
}

.element h2 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    padding: 10px 0px;
}

.element table {
    width: 80vw;
}

.element table tr {
    height: 30px;
}

.element .title_tab {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
}

/*
    Pour la page add
*/

.formulaire {
    width: 25vw;
    min-height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 123, 247);
    border-radius: 20px;
    padding: 20px;
}

.formulaire label {
    color: black;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
}

.formulaire select {
    height: 30px;
    width: 18vw;
    border-radius: 10px;
}

.formulaire .checkbox {
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.formulaire .input {
    height: 30px;
    width: 18vw;
    border-radius: 10px;
}

.formulaire select {
    font-size: 1.5em;
}

.protocole , .port , .mac, .source, .destination, .interface_source, .interface_destination {
    display: none;
    margin: 10px 0px;
}


.button_add {
    height: 50px;
    width: 100px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 20px 5vw;
}