* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #ffffff;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: rgb(67, 67, 255);
}

header .title {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigator {
    position: relative;
}

header .navigator .navigator-items a {
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    margin: 0px 10px;
    color: white;
    transition: 0.3s ease;
}

header .navigator .navigator-items a:before {
    background-color: white;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: 0.3s ease;
}

header .navigator .navigator-items a:hover:before {
    width: 100%;
}

/*
    Pour les contenant dans la list ou dans l'ajout ou dans Homme
*/

.content {
    margin: 100px 100px;
}

.content-item {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.content-item h1 {
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

/*
    Pour la page list

*/

.element {
    min-height: 30vh;
    width: 80vw;
}

.element h2 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    padding: 10px 0px;
}

.element table {
    width: 80vw;
}

.element table tr {
    height: 30px;
}

.element .title_tab {
    background-color: gray;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
}

.target_tab {
    width: 20vw;
}

.protocole_tab {
    width: 5vw;
}

.opt_tab {
    width: 5vw;
}

.source_tab {
    width: 20vw;
}

.destination {
    width: 20vw;
}

.desciption_tab {
    width: 30vw;
}

/*
    Pour la page add
*/

.formulaire {
    width: 40vw;
    min-height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 67, 255);
    border-radius: 20px;
    padding: 20px;
}

.formulaire label {
    color: black;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
}

.formulaire select {
    height: 30px;
    width: 18vw;
    border-radius: 10px;
}

.formulaire .subhead {
    font-size: 2em;
}

.formulaire .checkbox {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

.formulaire .input {
    height: 30px;
    width: 18vw;
    border-radius: 10px;
}

.formulaire select {
    font-size: 1.5em;
}

.protocole , .port , .mac, .source, .destination, .interface_source, .interface_destination {
    display: none;
}


.button_add {
    height: 50px;
    width: 100px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 20px 5vw;
}

/*
    Pour le page home
*/

.context {
    margin: 10vh 30vw;
    font-size: 1.3em;
}

.content a {
    padding: 15px;
    font-size: 1.5em;
    background-color: rgb(0, 110, 255);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: white;
}